<script lang="ts">
	import '@unocss/reset/tailwind.css';
	import 'uno.css';
	import Header from '../lib/Header.svelte';
	import Preview from '../lib/Preview.svelte';
</script>

<Header />

<div container pt-18 important-max-w-screen-2xl mx-auto px-4 lg:px-6 h-screen>
	<slot />
</div>

<Preview />
