<div text-center py-8 px-6 md:px-8 lg:py-12>
	<span i-tabler-bolt p-4 text-amber />
	<span i-tabler-bolt p-4 text-amber />
	<span i-tabler-bolt p-4 text-amber />
	<h1 text-4xl>Blazing fast badge generator</h1>
	<span i-tabler-bolt p-4 text-amber />
	<span i-tabler-bolt p-4 text-amber />
	<span i-tabler-bolt p-4 text-amber />
</div>
