<script lang="ts">
	import { badgePath } from '../../store';

	let label = 'label';
	let message = 'message';
	let colors = ['blue', 'green', 'yellow', 'red'];
	let selectedColor = 'blue';

	$: badgePath.update(() => {
		let foo = encodeURIComponent(`${label}-${message}-${selectedColor}`);
		return `badge/${foo}`;
	});
</script>

<div>
	<label>
		<span>label</span>
		<input type="text" mt-1 block w-full bind:value={label} />
	</label>
	<label>
		<span>message</span>
		<input type="text" mt-1 block w-full bind:value={message} />
	</label>
	<label>
		<span>color</span>
		<select mt-1 block w-full bind:value={selectedColor}>
			{#each colors as color}
				<option value={color}>
					{color}
				</option>
			{/each}
		</select>
	</label>
</div>
