<script lang="ts">
	import Logo from '$lib/assets/logo.svg';
	import Nav from './Nav.svelte';
</script>

<header flex fixed z-50 h-18 bg-blue inset-0 items-center border-b-1 border-blue-1>
	<div container flex flex-none h-full mx-auto px-4 md:px-6 important-max-w-screen-2xl>
		<div flex items-center lg:hidden>
			<button inline-flex p-4 i-tabler-menu-2 />
		</div>
		<div flex items-center flex-1 lg:flex-none>
			<a href="/" inline-flex items-center text-xl lg:text-2xl font-semibold>
				<img src={Logo} alt="Badge.rs" inline-flex m-3 lg:mr-4 h-10 lg:h-12 />Badge.rs
			</a>
		</div>
		<div hidden lg:flex items-center flex-1>
			<Nav />
		</div>
		<div flex items-center>
			<a href="https://gitlab.com/RoPP/badgers">
				<span i-tabler-brand-gitlab p-3 />
			</a>
		</div>
	</div>
</header>
