<script lang="ts">
	import { badgeUrl } from '../store';
</script>

<div fixed inset-x-0 bottom-0>
  <div container mx-auto p-4 lg:p-6>
    <div mx-auto>
      <img src={$badgeUrl} alt="Badge" mx-auto>
    </div>
    <label>
      <span>URL</span>
      <input type="text" disabled mt-1 block w-full value={$badgeUrl} />
    </label>
  </div>
</div>
